<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Usuarios</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <h1>Usuarios</h1>
    <a th:href="@{/web/users/new}">Nuevo Usuario</a>
    <table>
        <thead>
            <tr>
                <th>ID</th><th>Nombre</th><th>Email</th><th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <a th:href="@{'/web/users/edit/' + ${user.id}}">Editar</a>
                    <a th:href="@{'/web/users/delete/' + ${user.id}}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>