<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Diferencia Total</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <h1>Diferencia Total</h1>
    <p>Desde: <span th:text="${total.fromDate}"></span></p>
    <p>Hasta: <span th:text="${total.toDate}"></span></p>
    <p>Monto Inicial: <span th:text="${total.fromAmount}"></span></p>
    <p>Monto Final: <span th:text="${total.toAmount}"></span></p>
    <p>Diferencia: <span th:text="${total.difference}"></span></p>
    <p>% Cambio: <span th:text="${total.percentageChange} + '%'"></span></p>
    <a href="/web/easy-money">Volver</a>
</body>
</html>